<div id="home-section">
  <div class="row">
    <div class="col-xs-12 text-center">
      <img class="logo" ng-src="../images/logo/logo.png" alt="Baeja Vu Logo"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <img class="band-picture" ng-src="../images/band/band_one.jpg"/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
<!--       <a href="http://www.songkick.com/concerts/26100778-del-the-funky-homosapien-at-middle-east-downstairs" target="_blank"> -->
        <h2>Next Show: Secret Basement Show</h2>
      <!-- </a> -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div ng-bind-html="youtube">
      </div>
      <p> We are proud to release our first real video, a submission to the NPR Tiny Desk Contest. Give it a few views to help us catch NPR’s attention!</p>
    </div>
  </div>
  <div class="row" id="contact-section">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <h2>Contact Us</h2>
      <p>Be our bae! Join our mailing list.</p>
      <p>Or if you would like to book us for a show, please send us a message or email us at <a href="mailto:contact@baejavu.com" target="_top">contact@baejavu.com</a></p>
    </div>
    <div class="col-sm-6 col-sm-offset-3 col-xs-12 contact-form">
      <form name="form.contact" novalidate method="send" id="baeja-vu-contact-form">
        <div class="row">
          <div class="col-xs-12 input-container">
            <div class="form-group" show-errors>
              <input type="email" class="form-control" name="email" ng-model="contact.email"  placeholder="EMAIL ADDRESS" required></input>
              <p class="help-block" ng-if="form.contact.email.$error.required">An email address is required</p>
              <p class="help-block" ng-if="form.contact.email.$error.email">Please enter a valid email address</p>
            </div>
          </div>
          <div class="col-xs-12 input-container">
            <div class="form-group" show-errors>
              <input type="text" class="form-control" placeholder="NAME" name="data[Name]" ng-model="contact.name"></input>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group" show-errors>
            <div class="col-xs-12 input-container">
              <textarea class="form-control" name="data[Message]" ng-model="contact.message" placeholder="MESSAGE"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 contact-button-container">
            <input type="hidden" name="utf8" value="✓">
            <input type="hidden" name="to" value="contact@baejavu.com" />
            <input type="hidden" name="noreply" value="no-reply@baejavu.com" />
            <input type="hidden" name="company" value="Baeja Vu" />
            <button class="btn btn-success btn-lg contact-button" type="submit" ng-class="{'hideButton': submitMessageSuccess}" ng-click="sendContactForm()" ng-disabled="form.contact.$invalid">SUBMIT</button>
            <p class="contact-message" ng-class="{'successMessage': submitMessageSuccess, 'failureMessage': !submitMessageSuccess}">{{submitMessage}}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <a class="social-button" href="https://www.facebook.com/baejavu/" target="_blank">
        <img src="../images/social/facebook.ico" alt="facebook icon"/>
      </a>
      <a class="social-button" href="https://twitter.com/Baeja_Vu" target="_blank">

          <img src="../images/social/twitter.png" alt="twitter icon"/>
      </a>
      <a class="social-button" href="https://soundcloud.com/baeja_vu" target="_blank">
          <img src="../images/social/soundcloud.png" alt="soundcloud icon"/>
          
      </a>
      <a class="social-button" href="https://www.youtube.com/channel/UC87yiAJKTgo2SIha9ubREgQ" target="_blank">
          <img src="../images/social/youtube.ico" alt="youtube icon"/>
      </a>
      <a class="social-button" href="https://www.instagram.com/baejavu2/" target="_blank">
          <img src="../images/social/instagram.ico" alt="instagram icon"/>
      </a>
    </div>
  </div>
</div>